/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding: 3vw;
    background-color: #a9a6a6;
}

@font-face {
    font-family: "MarketDeco";
    src:url('assets/fonts/Market_Deco.ttf') format("truetype");
}

@font-face {
    font-family: "Robota";
    src:url('assets/fonts/Robota-NonCommercial.otf') format("opentype");
}

@font-face {
    font-family: "LemonMilk";
    src:url('assets/fonts/LEMONMILK-Regular.otf') format("opentype");
}

@font-face {
    font-family: "ChampLimo";
    src:url('assets/fonts/ChampagneLimousines.ttf') format("truetype");
}

@font-face {
    font-family: "Retroica";
    src:url('assets/fonts/Retroica.ttf') format("truetype");
}